body{
   border: 4 px black solid;
   
}
header{ 
    background-color: rgb(0, 48, 138);
    color: rgb(255, 255, 255);
    text-align: center;
 
}
.contextoceles{
    background-color: aqua;
    width:80%;
    float: left;
    color: rgb(8, 8, 19);
    
}
.contextorojo{
    background-color: rgb(209, 10, 10);
    width: 20%;
    float: left;
    color: rgb(184, 250, 3);
}
.art1{
    background-color: rgb(242, 252, 112);
    float: left;
    width:33.3% ;
    text-align: center;
}
.art2{
    background-color: rgb(235, 161, 2);
    float: left;
    width:33.3% ;
    text-align: center;
}
footer{
    background-color: rgb(0, 0, 66);
    color: rgb(184, 166, 5);
    text-align: center;
    border:1 px rgb(0, 0, 0) solid ;
}
